*{
  margin: 0px;
  padding: 0px;
}
.App{
  background-color: #ecf0f1;
  width:500px;
  height: 133vh;
  
}
.main{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; 
}

/*
**Nav
*/
.navbar{
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
}
ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  list-style: none;
  margin-top: 70px;
}
.chatcategory{
  text-decoration: none;
}

.chat_contact{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.chat_message{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/*
**Search
*/
.searchbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
input{
  padding: 10px;
  width: 450px;
  border-radius: 10px;
  outline: none;
  border: none;
  position: absolute;
  top: 50px;
  left: 397px;
}
/*
**Chat
*/
.image_icon{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.chat{
  width: 460px;
}